In [12]:
import requests
import pandas as pd
from pprint import pprint

c:\Users\patri\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.16) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [13]:
url_la = "https://nomad-list-cities.p.rapidapi.com/nomad-list/latin-america"
url_na = "https://nomad-list-cities.p.rapidapi.com/nomad-list/north-america"
url_me = "https://nomad-list-cities.p.rapidapi.com/nomad-list/middle-east"
url_oc = "https://nomad-list-cities.p.rapidapi.com/nomad-list/oceania"
url_af = "https://nomad-list-cities.p.rapidapi.com/nomad-list/africa"
url_as = "https://nomad-list-cities.p.rapidapi.com/nomad-list/asia"
url_eu = "https://nomad-list-cities.p.rapidapi.com/nomad-list/europe"

querystring = {"size":"30","page":"1","sort":"desc","sort_by":"overall_score"}

headers = {
	"X-RapidAPI-Key": "ac97b4c5f2mshdb1aaf4ed6419b6p13d2fejsn0559f3ef35bb",
	"X-RapidAPI-Host": "nomad-list-cities.p.rapidapi.com"
}

response_la = requests.get(url_la, headers=headers, params=querystring)
response_na = requests.get(url_na, headers=headers, params=querystring)
response_me = requests.get(url_me, headers=headers, params=querystring)
response_oc = requests.get(url_oc, headers=headers, params=querystring)
response_af = requests.get(url_af, headers=headers, params=querystring)
response_as = requests.get(url_as, headers=headers, params=querystring)
response_eu = requests.get(url_eu, headers=headers, params=querystring)

response_json_la = response_la.json()
response_json_na = response_na.json()
response_json_me = response_me.json()
response_json_oc = response_oc.json()
response_json_af = response_af.json()
response_json_as = response_as.json()
response_json_eu = response_eu.json()

In [14]:
la_df = pd.DataFrame(response_json_la)
na_df = pd.DataFrame(response_json_na)
me_df = pd.DataFrame(response_json_me)
oc_df = pd.DataFrame(response_json_oc)
af_df = pd.DataFrame(response_json_af)
as_df = pd.DataFrame(response_json_as)
eu_df = pd.DataFrame(response_json_eu)

In [15]:
combined_df = pd.concat([la_df, na_df, me_df, oc_df, af_df, as_df, eu_df])
combined_df

,image_lastmod,region,population,descriptionFromReview,slug,short_slug,long_slug,users_count,users_count_est,users_count_been,...,cost_for_nomad_in_usd,cost_for_expat_in_usd,cost_for_local_in_usd,cost_for_family_in_usd,total_score,overall_score,cost_score,internet_score,leisure_quality,safety_level
0,1676419327,Latin America,3054300,"Pros - extremely cheap (excl. housing), great ...",buenos-aires-argentina,buenos-aires,buenos-aires-argentina,56.0,11200.0,1059.0,...,1792,1194,709,2482.341541,4.050374,4.050374,4.666286,5.000000,4,3.000000
1,1676505683,Latin America,8918653,"I really enjoyed my first week here, but as I ...",mexico-city-mexico,mexico-city,mexico-city-mexico,61.0,12200.0,1487.0,...,1862,1483,1115,3902.690717,4.001144,4.001144,4.586286,3.684211,4,2.000000
2,1676419354,Latin America,2183557,"I love Laureles which is calmer, lots of tress...",medellin-colombia,medellin,medellin-colombia,52.0,10400.0,1124.0,...,1486,1217,973,3406.179475,3.765377,3.765377,5.000000,1.184211,4,1.750000
3,1678147415,Latin America,1495182,"GDL is great for a short trip. But, it's only ...",guadalajara-mexico,guadalajara,guadalajara-mexico,12.0,2400.0,230.0,...,1693,1048,606,2121.980457,3.317857,3.317857,4.779429,1.472368,3,2.218750
4,1675438227,Latin America,8894000,I concur with the most recent review before mi...,lima-peru,lima,lima-peru,6.0,1200.0,567.0,...,1443,1191,959,3355.011155,3.297004,3.297004,5.000000,0.988158,4,3.027171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,1675438247,Europe,543825,Rent is cheap by German standards. Clean and t...,dresden-germany,dresden,dresden-germany,2.0,400.0,108.0,...,3276,1979,1178,4123.360272,3.282908,3.282908,2.970286,5.000000,3,4.921875
26,1675438199,Europe,426538,Summers in Tallinn are very pleasant (if not t...,tallinn-estonia,tallinn,tallinn-estonia,3.0,600.0,448.0,...,2763,1961,1194,4180.547756,3.282834,3.282834,3.556571,4.935526,3,4.000000
27,1653091301,Europe,790017,"I quite liked Zagreb. People are fairly warm, ...",zagreb-croatia,zagreb,zagreb-croatia,3.0,600.0,401.0,...,2684,1927,1139,3987.702356,3.282032,3.282032,3.646857,2.802632,2,4.500000
28,1660089930,Europe,209945,English spoken by most and locals are friendly...,ploiesti-romania,ploiesti,ploiesti-romania,NaN,NaN,1.0,...,1625,975,579,2025.427968,3.277075,3.277075,4.857143,5.000000,2,4.000000
29,1658620949,Europe,343424,The pollution from cars is the worst thing abo...,plovdiv-bulgaria,plovdiv,plovdiv-bulgaria,1.0,200.0,85.0,...,1958,1108,435,1523.438622,3.276684,3.276684,4.476571,4.434211,3,4.000000

In [16]:
azore_df = combined_df.loc[combined_df['short_slug'] == 'azores']
azore_df

,image_lastmod,region,population,descriptionFromReview,slug,short_slug,long_slug,users_count,users_count_est,users_count_been,...,cost_for_nomad_in_usd,cost_for_expat_in_usd,cost_for_local_in_usd,cost_for_family_in_usd,total_score,overall_score,cost_score,internet_score,leisure_quality,safety_level
21,1676505768,Europe,70000,"Spent 2 years living in Ponta Delgada, one of ...",azores-portugal,azores,azores-portugal,NaN,NaN,83.0,...,2115,1451,653,2283.892447,3.324826,3.324826,4.297143,5.0,5,5.0

In [17]:
new_df = azore_df[['internet_score', 'internet_speed', 'cost_for_nomad_in_usd', 'cost_for_expat_in_usd', 'cost_for_local_in_usd']]
new_df

,internet_score,internet_speed,cost_for_nomad_in_usd,cost_for_expat_in_usd,cost_for_local_in_usd
21,5.0,41,2115,1451,653

In [18]:
azore_df.columns

Index(['image_lastmod', 'region', 'population', 'descriptionFromReview',
       'slug', 'short_slug', 'long_slug', 'users_count', 'users_count_est',
       'users_count_been', 'users_count_been_est', 'boost',
       'last_2_year_growth', 'image', 'name_chinese', 'name',
       'country_chinese', 'air_quality_now', 'air_quality', 'latitude',
       'longitude', 'country', 'country_code', 'country_slug', 'state_code',
       'state_chinese', 'state', 'internet_speed', 'air_quality_score',
       'air_quality_now_score', 'humidity', 'rank', 'weather_icon',
       'weather_emoji', 'temperatureC', 'temperatureF',
       'temperatureC_feels_like', 'temperatureF_feels_like',
       'cost_for_nomad_in_usd', 'cost_for_expat_in_usd',
       'cost_for_local_in_usd', 'cost_for_family_in_usd', 'total_score',
       'overall_score', 'cost_score', 'internet_score', 'leisure_quality',
       'safety_level'],
      dtype='object')

In [19]:
len(combined_df)

210

In [20]:
combined_df.columns

Index(['image_lastmod', 'region', 'population', 'descriptionFromReview',
       'slug', 'short_slug', 'long_slug', 'users_count', 'users_count_est',
       'users_count_been', 'users_count_been_est', 'boost',
       'last_2_year_growth', 'image', 'name_chinese', 'name',
       'country_chinese', 'air_quality_now', 'air_quality', 'latitude',
       'longitude', 'country', 'country_code', 'country_slug', 'state_code',
       'state_chinese', 'state', 'internet_speed', 'air_quality_score',
       'air_quality_now_score', 'humidity', 'rank', 'weather_icon',
       'weather_emoji', 'temperatureC', 'temperatureF',
       'temperatureC_feels_like', 'temperatureF_feels_like',
       'cost_for_nomad_in_usd', 'cost_for_expat_in_usd',
       'cost_for_local_in_usd', 'cost_for_family_in_usd', 'total_score',
       'overall_score', 'cost_score', 'internet_score', 'leisure_quality',
       'safety_level'],
      dtype='object')

In [21]:
cleaned_df = combined_df.drop(columns=['image_lastmod', 'image', 'name_chinese', 'country_chinese', 'state_chinese', 'weather_icon'])
cleaned_df

,region,population,descriptionFromReview,slug,short_slug,long_slug,users_count,users_count_est,users_count_been,users_count_been_est,...,cost_for_nomad_in_usd,cost_for_expat_in_usd,cost_for_local_in_usd,cost_for_family_in_usd,total_score,overall_score,cost_score,internet_score,leisure_quality,safety_level
0,Latin America,3054300,"Pros - extremely cheap (excl. housing), great ...",buenos-aires-argentina,buenos-aires,buenos-aires-argentina,56.0,11200.0,1059.0,211800,...,1792,1194,709,2482.341541,4.050374,4.050374,4.666286,5.000000,4,3.000000
1,Latin America,8918653,"I really enjoyed my first week here, but as I ...",mexico-city-mexico,mexico-city,mexico-city-mexico,61.0,12200.0,1487.0,297400,...,1862,1483,1115,3902.690717,4.001144,4.001144,4.586286,3.684211,4,2.000000
2,Latin America,2183557,"I love Laureles which is calmer, lots of tress...",medellin-colombia,medellin,medellin-colombia,52.0,10400.0,1124.0,224800,...,1486,1217,973,3406.179475,3.765377,3.765377,5.000000,1.184211,4,1.750000
3,Latin America,1495182,"GDL is great for a short trip. But, it's only ...",guadalajara-mexico,guadalajara,guadalajara-mexico,12.0,2400.0,230.0,46000,...,1693,1048,606,2121.980457,3.317857,3.317857,4.779429,1.472368,3,2.218750
4,Latin America,8894000,I concur with the most recent review before mi...,lima-peru,lima,lima-peru,6.0,1200.0,567.0,113400,...,1443,1191,959,3355.011155,3.297004,3.297004,5.000000,0.988158,4,3.027171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,Europe,543825,Rent is cheap by German standards. Clean and t...,dresden-germany,dresden,dresden-germany,2.0,400.0,108.0,21600,...,3276,1979,1178,4123.360272,3.282908,3.282908,2.970286,5.000000,3,4.921875
26,Europe,426538,Summers in Tallinn are very pleasant (if not t...,tallinn-estonia,tallinn,tallinn-estonia,3.0,600.0,448.0,89600,...,2763,1961,1194,4180.547756,3.282834,3.282834,3.556571,4.935526,3,4.000000
27,Europe,790017,"I quite liked Zagreb. People are fairly warm, ...",zagreb-croatia,zagreb,zagreb-croatia,3.0,600.0,401.0,80200,...,2684,1927,1139,3987.702356,3.282032,3.282032,3.646857,2.802632,2,4.500000
28,Europe,209945,English spoken by most and locals are friendly...,ploiesti-romania,ploiesti,ploiesti-romania,NaN,NaN,1.0,200,...,1625,975,579,2025.427968,3.277075,3.277075,4.857143,5.000000,2,4.000000
29,Europe,343424,The pollution from cars is the worst thing abo...,plovdiv-bulgaria,plovdiv,plovdiv-bulgaria,1.0,200.0,85.0,17000,...,1958,1108,435,1523.438622,3.276684,3.276684,4.476571,4.434211,3,4.000000

In [22]:
cleaned_df.reset_index(inplace=True, drop=True)

In [23]:
cleaned_df.to_json(r'export_dataframe.json', orient='records')

In [24]:
from pymongo import MongoClient
from pprint import pprint

In [25]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [26]:
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'epa', 'fruits_db', 'local', 'met', 'project3', 'travel_db', 'uk_food']

In [27]:
db = mongo['project3']

In [28]:
print(db.list_collection_names())

['nomads']

In [29]:
nomad_destinations = db['nomads']

In [30]:
import sqlite3

In [57]:
conn = sqlite3.connect('Resources/nomad_db.db')

In [58]:
print(conn)

<sqlite3.Connection object at 0x000002AD1DEA1240>

In [59]:
cleaned_df.to_sql('nomad_destinations', conn, if_exists = 'replace', index = False)

210

In [60]:
conn.close()

In [75]:
# Import the dependencies.
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc, text, and_, inspect

from sqlalchemy.ext.declarative import declarative_base

from datetime import datetime, timedelta

from flask import Flask, jsonify

In [76]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/nomad_db.db")

In [77]:
Base = declarative_base()

In [79]:
print(cleaned_df.columns)

Index(['region', 'population', 'descriptionFromReview', 'slug', 'short_slug',
       'long_slug', 'users_count', 'users_count_est', 'users_count_been',
       'users_count_been_est', 'boost', 'last_2_year_growth', 'name',
       'air_quality_now', 'air_quality', 'latitude', 'longitude', 'country',
       'country_code', 'country_slug', 'state_code', 'state', 'internet_speed',
       'air_quality_score', 'air_quality_now_score', 'humidity', 'rank',
       'weather_emoji', 'temperatureC', 'temperatureF',
       'temperatureC_feels_like', 'temperatureF_feels_like',
       'cost_for_nomad_in_usd', 'cost_for_expat_in_usd',
       'cost_for_local_in_usd', 'cost_for_family_in_usd', 'total_score',
       'overall_score', 'cost_score', 'internet_score', 'leisure_quality',
       'safety_level'],
      dtype='object')

In [ ]:
class nomad_destinations(Base):
    __tablename__ = "nomad_destinations"
    region
    population
    descriptionFromReview
    slug
    short_slug
    long_slug
    users_count
    users_count_est
    users_count_been
    users_count_been_est
    boost
    last_2_year_growth
    name
    air_quality_now
    air_quality
    latitude
    longitude
    country
    country_code
    country_slug
    state_code
    state
    internet_speed
    air_quality_score
    air_quality_now_score
    humidity
    rank
    weather_emoji
    temperatureC
    temperatureF
    temperatureC_feels_like
    temperatureF_feels_like
    cost_for_nomad_in_usd
    cost_for_expat_in_usd
    cost_for_local_in_usd
    cost_for_family_in_usd
    total_score
    overall_score
    cost_score
    internet_score
    leisure_quality
    safety_level

In [ ]:
Base.metadata.create_all(engine)

In [64]:
from sqlalchemy import MetaData

In [72]:
metadata = MetaData(bind=engine)
metadata.reflect()

table_names = metadata.tables.keys()

for table_name in table_names:
    print(table_name)

nomad_destinations

In [82]:
from sqlalchemy import Table, MetaData, Column, Integer, String
from sqlalchemy.orm import mapper

metadata = MetaData()

# Define your table structure, including primary key columns
nomad_destinations_table = Table('nomad_destinations', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('description', String),
    # Add other columns here
)

class NomadDestinations:
    pass

# Map the table to the class, specifying the primary key column
mapper(NomadDestinations, nomad_destinations_table)

# Now you can access the NomadDestinations class

In [73]:
# # # reflect an existing database into a new model
# Base = automap_base()
# # # reflect the tables
# Base.prepare(engine, reflect=True)

In [74]:
# Base.classes.keys()

[]

In [83]:
# View all of the classes that automap found
print('hello')
metadata.tables.keys()

hello

dict_keys(['nomad_destinations'])

In [52]:
#################################################
# Database Setup
#################################################
engine = create_engine("sqlite:///Resources/nomad_db.db")

# inspector = inspect(engine)
# print(inspector.get_table_names())
# Reflect the tables from the database
Base = automap_base()
Base.prepare(autoload_with=engine)

# for class_name in Base.classes:
#     print(class_name)

nomad = Base.classes.nomad_destinations
type(nomad)

AttributeError: nomad_destinations

In [ ]:
conn.close()

In [84]:


# #################################################
# # Flask Setup
# #################################################
app = Flask(__name__)

# #################################################
# # Flask Routes
# #################################################
@app.route("/")
def welcome():
     """List all available api routes."""
     return (
         f"Available Routes:<br/>"
         f"<br/>"
         f"/api/v1.0/destinations<br/>"
         f"/api/v1.0/stations<br/>"
         f"/api/v1.0/tobs<br/>"
         f"/api/v1.0/start_date<br/>"
         f"/api/v1.0/start_date/end_date<br/>"
     )

@app.route("/api/v1.0/destinations")
def destinations():
    conn = engine.connect()
    session = Session(engine)
    all_destinations_query = text("SELECT DISTINCT long_slug FROM nomad_destinations")
    all_destinations = conn.execute(all_destinations_query).fetchall()

    session.close()

    destinations = []
    for row in all_destinations:
        destination_dict = {}
        destination_dict["long_slug"] = row['long_slug']
        destinations.append(destination_dict)
    
    return jsonify(destinations)

if __name__ == "__main__":
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

c:\Users\patri\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3468: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)